In [0]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df

In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate() # Init SparkSession

d = [["1", "sravan", "company 1"],
        ["2", "ojaswi", "company 1"], 
        ["3", "rohith", "company 2"],
        ["4", "sridevi", "company 1"], 
        ["5", "bobby", "company 1"]]

cols = ['ID', 'Name', 'Company']
df = spark.createDataFrame(d, cols)
df.show()

In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate() # Init SparkSession

d1 = [["1", "45000", "IT"],
         ["2", "145000", "Manager"],
         ["6", "45000", "HR"],
         ["5", "34000", "Sales"]]

cols = ['ID', 'salary', 'department']
df1 = spark.createDataFrame(d1, cols)

df1.show()

In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('join_example').getOrCreate()

# first DataFrame
d1 = [("1", "sravan", "company 1"),
      ("2", "ojaswi", "company 1"),
      ("3", "rohith", "company 2"),
      ("4", "sridevi", "company 1"),
      ("5", "bobby", "company 1")]
cols1 = ['id', 'name', 'company']
df1 = spark.createDataFrame(d1, cols1)

# second DataFrame
d2 = [("1", "45000", "IT"),
      ("2", "145000", "Manager"),
      ("6", "45000", "HR"),
      ("5", "34000", "Sales")]
cols2 = ['id', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.id == df2.id, "inner").show()

In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# first dataframe data
d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# second dataframe data
d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"],
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "outer").show()

In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# First dataframe data
d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# Second dataframe data
d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"],
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "fullouter").show()

In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# First dataframe data
d1 = [["1", "sravan", "company 1"], 
      ["2", "ojaswi", "company 1"], 
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"], 
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# Second dataframe data
d2 = [["1", "45000", "IT"], 
      ["2", "145000", "Manager"], 
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "left").show()

In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# first dataframe
d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# second dataframe
d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"],
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "leftouter").show()

In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# Data for left dataframe
d1 = [["1", "sravan", "company 1"], 
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# Data for right dataframe
d2 = [["1", "45000", "IT"], 
      ["2", "145000", "Manager"], 
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "right").show()

In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# Data for left dataframe
d1 = [["1", "sravan", "company 1"], 
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# Data for right dataframe
d2 = [["1", "45000", "IT"], 
      ["2", "145000", "Manager"], 
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "right").show()

In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# employee data
d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"], 
      ["5", "bobby", "company 1"]]
cols1 = ['ID', 'NAME', 'Company']
df1 = spark.createDataFrame(d1, cols1)

# salary & department data
d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"], 
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
cols2 = ['ID', 'salary', 'department']
df2 = spark.createDataFrame(d2, cols2)

df1.join(df2, df1.ID == df2.ID, "leftsemi").show()

In [0]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sparkdf').getOrCreate()

d1 = [["1", "sravan", "company 1"],
      ["2", "ojaswi", "company 1"],
      ["3", "rohith", "company 2"],
      ["4", "sridevi", "company 1"],
      ["5", "bobby", "company 1"]]
col1 = ['ID', 'NAME', 'COMPANY']
df1 = spark.createDataFrame(d1, col1)

d2 = [["1", "45000", "IT"],
      ["2", "145000", "Manager"],
      ["6", "45000", "HR"],
      ["5", "34000", "Sales"]]
col2 = ['ID', 'SALARY', 'DEPT']
df2 = spark.createDataFrame(d2, col2)

df1.join(df2, df1.ID == df2.ID, "leftanti").show()

In [0]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Top 5 products by revenue
revenue = events.filter(F.col("event_type") == "purchase") \
    .groupBy("product_id", "product_name") \
    .agg(F.sum("price").alias("revenue")) \
    .orderBy(F.desc("revenue")).limit(5)

# Running total per user
window = Window.partitionBy("user_id").orderBy("event_time")
events.withColumn("cumulative_events", F.count("*").over(window))

# Conversion rate by category
events.groupBy("category_code", "event_type").count() \
    .pivot("event_type").sum("count") \
    .withColumn("conversion_rate", F.col("purchase")/F.col("view")*100)